<!-- The page served to the "/quiz/:_id" route -->
<template name="takeQuiz">
	<!-- Full page container -->
	<div class="full-page takeQuiz slate-background">

		<!-- Make sure a quiz actually loaded -->
		{{#if this}}
		<div class="section">
			<div class="container">
				<!-- Show the progress and a timer -->
				<div class="row progress-container">
					<div class="col-xs-5 text-left">
						<div id="my-icon" class="user-icon user-icon-lg" style="background-image: url(/user/icon/pikachu.jpg);">
						</div>
						<div class="username">
							{{currentUser.username}}
						</div>
						<div class="quiz-progress-bubbles">
							{{#each questions}}
								<!-- Style with my answer helper -->
								<span class="{{wasQuestionAnsweredCorrectly}}">
									{{number}}
								</span>
							{{/each}}
						</div>
					</div>

					<div class="col-xs-2 text-center time-remaining">
						{{minutesRemaining}}:{{secondsRemaining}}
					</div>

					<div class="col-xs-5 text-right">
						<div id="opponent-icon" class="user-icon user-icon-lg" style="background-image: url(/user/icon/up.png);">
						</div>
						<div class="username">
							<!-- TODO: Make this the actual opponent username -->
							Your Opponent
						</div>
						<div class="quiz-progress-bubbles">
							{{#each questions}}
								<!-- Show opponent progress -->
								<span class="{{opponentQuestionAnsweredCorrectly}}">
									{{number}}
								</span>
							{{/each}}
						</div>
					</div>

				</div> <!-- /.row.progress-continer -->
			</div> <!-- /container -->
		</div> <!-- /section -->

		<div class="section white-bg">
			<div class="container">
				<!-- Show the questions -->
				<div class="row">
					<div class="quiz-questions-row-container quiz-horizontal-scroll" style="{{questionContainerScroll}}">

						{{#each questions}}
						<div class="quiz-questions-col-container">
							<div class="col-xs-10 col-xs-offset-1">
								{{> questionTemplate}}
							</div>
						</div>
						{{/each}}

					</div>
				</div>
			</div>
		</div>

		{{else}}

		<!-- If there are no questions, show an error -->
		<div class="row error-container">
			<div class="col-xs-12 text-center">
				<h1>Sorry, there was an error loading this quiz</h1>
				<h3>
					<!-- Offer a way back -->
					<a href="{{pathFor route='find-quiz-partner'}}">
						<button id="a-new-quiz-button" class="btn btn-lg sign-in-button">
							Make a new quiz
						</button>
					</a>
				</h3>
			</div>
		</div>
		{{/if}}
	</div>
</template>

<!-- The question template -->
<template name="questionTemplate">
<div class="row text-left">
	<div class="col-xs-12 question-container">
		<div class="number-bubble">
			<span class="{{wasQuestionAnsweredCorrectly}}">{{number}}</span>
		</div>

		<div class="row">
			<div class="col-xs-10 col-xs-push-1 question-text">
				{{#mathjax}}{{#markdown}}{{question}}{{/markdown}}{{/mathjax}}
			</div>
		</div>

		<div class="row">
		<ul class="list-inline list-group question-answers">
			<li class="col-xs-10 col-xs-push-1 list-group-item {{isAnswer 'a'}}" data-answer="a">
				<span>A</span>{{a}}
			</li>
			<li class="col-xs-10 col-xs-push-1 list-group-item {{isAnswer 'b'}}" data-answer="b">
				<span>B</span>{{b}}
			</li>
			<div class="clearfix visible-sm-block"></div>
			<li class="col-xs-10 col-xs-push-1 list-group-item {{isAnswer 'c'}}" data-answer="c">
				<span>C</span>{{c}}
				</li>
			<li class="col-xs-10 col-xs-push-1 list-group-item {{isAnswer 'd'}}" data-answer="d">
				<span>D</span>{{d}}
			</li>
		</ul>
		</div>

		<!-- Hide the button until this question has been answered -->
		<!-- Note that wasQuestionAnsweredCorrectly will evaluate as true as long as the question has been answered at all since it returns a string -->
		<div class="text-center {{#unless wasQuestionAnsweredCorrectly}}transparent{{/unless}}">
			<button class="btn btn-lg next-question-button">
				Next Question
			</button>
		</div>

	</div>
</div>
</template>