<template name="adminAddQuestion">
	<div class="full-page takeQuiz adminAddQuestion slate-background">
		<div class="container">

			<!-- Fields to add question -->
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<div class="admin-question-template" id="{{_id}}">

						<div class="row">
							<div class="col-xs-10 col-xs-push-1 question-text">
								<h4>Question</h4>
								<textarea rows="4" cols="100" name="data-question"></textarea>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-10 col-xs-push-1">
								<h4>A</h4>
							</div>
							<div class="col-xs-10 col-xs-push-1">
							<textarea rows="2" cols="100" data-answer="a"></textarea>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-10 col-xs-push-1">
								<h4>B</h4>
							</div>
							<div class="col-xs-10 col-xs-push-1">
							<textarea rows="2" cols="100" data-answer="b"></textarea>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-10 col-xs-push-1">
								<h4>C</h4>
							</div>
							<div class="col-xs-10 col-xs-push-1">
							<textarea rows="2" cols="100" data-answer="c"></textarea>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-10 col-xs-push-1">
								<h4>D</h4>
							</div>
							<div class="col-xs-10 col-xs-push-1">
							<textarea rows="2" cols="100" data-answer="d"></textarea>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-10 col-xs-push-1">
								<h4>Answer</h4>
							</div>
							<div class="col-xs-10 col-xs-push-1">
								<select name="answer" id="answer">
									<option value=""></option>
									<option value="a">a</option>
									<option value="b">b</option>
									<option value="c">c</option>
									<option value="d">d</option>
								</select>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-10 col-xs-push-1">
								<h4>Short Explanation</h4>
							</div>
							<div class="col-xs-10 col-xs-push-1">
							<textarea rows="4" cols="100" name="data-short-explanation"></textarea>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-10 col-xs-push-1">
								<h4>Long Explanation</h4>
							</div>
							<div class="col-xs-10 col-xs-push-1">
								<textarea rows="8" cols="100" name="data-long-explanation"></textarea>
							</div>
						</div>

						<!-- Select subject, determines values for subcategory. -->
						<div class="row">
							<div class="col-xs-10 col-xs-push-1">
								<h4>Subject (Foundational Concept)</h4>
							</div>
							<div class="col-xs-10 col-xs-push-1">
								<select name="subject" id="subject">
									<option value=""></option>
									<option value="fc1">FC 1: Biomolecules</option>
								    <option value="fc2">FC 2: Organisms as Systems of Molecules, Cells, and Organs</option>
								    <option value="fc3">FC 3: Tissue and Organ Systems</option>
								    <option value="fc4">FC 4: Physical Principles</option>
								    <option value="fc5">FC 5: Chemical Interactions and Reactions</option>
								    <option value="fc6">FC 6: Perception of and Reaction to the Environment</option>
								    <option value="fc7">FC 7: Behavior and its Changes</option>
								    <option value="fc8">FC 8: Our Indentities and Interactions</option>
								    <option value="fc9">FC 9: Culture and Society</option>
								    <option value="fc10">FC 10: Social Stratification and Resources</option>
								</select>
							</div>
						</div>
						<!-- Select subcategory, determines values for topics. -->
						<div class="row">
							<div class="col-xs-10 col-xs-push-1">
								<h4>Subcategory (Content Category)</h4>
							</div>
							<div class="col-xs-10 col-xs-push-1">
								<!-- Generated dynamically with javascript. -->
								<select name="subcategories" id="subcategories">
									<option value=""></option>
								</select>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-10 col-xs-push-1">
								<h4>Topic</h4>
							</div>
							<div class="col-xs-10 col-xs-push-1">
								<!-- Generated dynamically with javascript. -->
								<select name="topics" id="topics">
									<option value=""></option>
								</select>
							</div>
						</div>

						<!-- Checkbox for premium question -->
						<div class="row">
							<div class="col-xs-10 col-xs-push-1">
								<h4>Premium</h4>
							</div>
							<div class="col-xs-10 col-xs-push-1">
								<input id="premium" type="checkbox" name="my-checkbox">
							</div>
						</div>

						<div class="row">
							<div class="col-xs-5 col-xs-push-1 text-center">
								<button class="btn btn-lg preview-button">Preview</button>
							</div>
							<div class="col-xs-5 col-xs-push-1 text-center">
								<button class="btn btn-lg save-button">Save</button>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /.row -->

			<!-- Show the preview -->
			<div class="row">
				<div class="col-xs-12 text-center">
					<h2>Preview (Save to Update)</h2>
				</div>
			</div>

			{{#with getData}}
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<div class="admin-question-template">
						<div class="number-bubble">
							<span>1</span>
						</div>

						<div class="row">
							<div class="col-xs-10 col-xs-push-1 question-text">
								{{#mathjax}}{{#markdown}}{{question}}{{/markdown}}{{/mathjax}}
							</div>
						</div>

						<div class="row">
							<ul class="list-inline list-group question-answers">
								<li class="col-xs-10 col-xs-push-1 list-group-item">
									<!-- Use <answer> just to seperate the text easily so we can select it for saving later -->
									<span class="letters">A</span><answer>{{#mathjax}}{{#markdown}}{{a}}{{/markdown}}{{/mathjax}}</answer>
								</li>
								<li class="col-xs-10 col-xs-push-1 list-group-item">
									<span class="letters">B</span><answer>{{#mathjax}}{{#markdown}}{{b}}{{/markdown}}{{/mathjax}}</answer>
								</li>
								<div class="clearfix visible-sm-block"></div>
								<li class="col-xs-10 col-xs-push-1 list-group-item">
									<span class="letters">C</span><answer>{{#mathjax}}{{#markdown}}{{c}}{{/markdown}}{{/mathjax}}</answer>
									</li>
								<li class="col-xs-10 col-xs-push-1 list-group-item">
									<span class="letters">D</span><answer>{{#mathjax}}{{#markdown}}{{d}}{{/markdown}}{{/mathjax}}</answer>
								</li>
							</ul>
						</div>

						<div class="row">
							<div class="col-xs-10 col-xs-push-1 text-center">
								<h4>Short Explanation</h4>
							</div>
							<div class="col-xs-10 col-xs-push-1">
								{{#mathjax}}{{#markdown}}{{short_explanation}}{{/markdown}}{{/mathjax}}
							</div>
						</div>

						<div class="row">
							<div class="col-xs-10 col-xs-push-1 text-center">
								<h4>Long Explanation</h4>
							</div>
							<div class="col-xs-10 col-xs-push-1">
								{{#mathjax}}{{#markdown}}{{long_explanation}}{{/markdown}}{{/mathjax}}
							</div>
						</div>

						<div class="row">
							<div class="col-xs-10 col-xs-push-1 text-center">
								<h4>Subject</h4>
							</div>
							<div class="col-xs-10 col-xs-push-1">
								{{subject}}
							</div>
						</div>

						<div class="row">
							<div class="col-xs-10 col-xs-push-1 text-center">
								<h4>Subcategory</h4>
							</div>
							<div class="col-xs-10 col-xs-push-1">
								{{subcategory}}
							</div>
						</div>

						<div class="row">
							<div class="col-xs-10 col-xs-push-1 text-center">
								<h4>Topic</h4>
							</div>
							<div class="col-xs-10 col-xs-push-1">
								{{topic}}
							</div>
						</div>

						<div class="row">
							<div class="col-xs-10 col-xs-push-1 text-center">
								<h4>Answer</h4>
							</div>
							<div class="col-xs-10 col-xs-push-1">
								{{answer}}
							</div>
						</div>

					</div>
				</div> <!-- /.col-xs-10 -->
			</div> <!-- /.row -->
		{{/with}}
		</div>
	</div>
</template>