<!-- The page served to the "/admin/questions/:subject/edit" route -->
<template name="adminSubjectEdit">
	<!-- Full page container -->
	<div class="full-page takeQuiz slate-background">
		<div style="height: 80px">

		</div>
		{{#if this.count}}
		<div class="container">
			<!-- Show the questions -->
			<div class="row">
					{{#each this}}
					<div class="col-xs-10 col-xs-offset-1">
						{{> adminQuestionTemplateEdit}}
					</div>
					{{/each}}
			</div>
		</div>

		{{else}}

		<!-- If there are no questions, show an error -->
		<div class="row error-container">
			<div class="col-xs-12 text-center">
				<h1>Sorry, no questions found</h1>
				<h3>Check that the subject in the URL is correct</h3>
			</div>
		</div>
		{{/if}}
	</div>
</template>

<template name="adminQuestionTemplateEdit">
<div class="admin-question-template" id="{{_id}}" contenteditable="{{editing}}">
	<div class="number-bubble">
		<span>1</span>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-push-1 question-text" data-question>
			{{#if editing}}
				{{question}}
			{{else}}
				{{#markdown}}{{question}}{{/markdown}}
			{{/if}}
		</div>
	</div>

	<div class="row">
		<ul class="list-inline list-group question-answers">
			<li class="col-xs-10 col-xs-push-1 list-group-item">
				<!-- Use <answer> just to seperate the text easily so we can select it for saving later -->
				<span>A</span><answer data-answer="a">{{a}}</answer>
			</li>
			<li class="col-xs-10 col-xs-push-1 list-group-item">
				<span>B</span><answer data-answer="b">{{b}}</answer>
			</li>
			<div class="clearfix visible-sm-block"></div>
			<li class="col-xs-10 col-xs-push-1 list-group-item">
				<span>C</span><answer data-answer="c">{{c}}</answer>
				</li>
			<li class="col-xs-10 col-xs-push-1 list-group-item">
				<span>D</span><answer data-answer="d">{{d}}</answer>
			</li>
		</ul>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-push-1 text-center">
			<h4>Short Explanation</h4>
		</div>
		<div class="col-xs-10 col-xs-push-1" data-short-explanation>
			{{#if editing}}
				{{short_explanation}}
			{{else}}
				{{#markdown}}{{short_explanation}}{{/markdown}}
			{{/if}}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-push-1 text-center">
			<h4>Long Explanation</h4>
		</div>
		<div class="col-xs-10 col-xs-push-1" data-long-explanation>
			{{#if editing}}
				{{long_explanation}}
			{{else}}
				{{#markdown}}{{long_explanation}}{{/markdown}}
			{{/if}}
		</div>
	</div>

	<div class="row" contenteditable="false">
		<div class="col-xs-10 col-xs-push-1 text-center">
			{{#if editing}}
				<button class="btn btn-lg save-button">Save</button>
			{{else}}
				<button class="btn btn-lg edit-button">Edit</button>
			{{/if}}
		</div>
	</div>

</div>
</template>