<template name="adminDailyQuiz">
	<div class="full-page adminDailyQuiz">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h1>Daily Quiz Admin Page</h1>
				</div>
			</div>
			<!-- Form to add quiz -->
			<div class="row">
				<div class="col-xs-12">
					<h1>Add a daily quiz</h1>
					<!--<form>-->
						<!-- Start date for the quiz -->
						Start date
						<input type="date" name="data-date" />
						<br />
						<!-- Subject for the quiz -->
						Subject:
						<select name="data-subject">
							<option value="cpf">(cpf) Chemical and Physical Foundations of Biological Systems</option>
							<option value="bbf">(bbf) Biological and Biochemical Foundations of Living Systems</option>
							<option value="psf">(psf) Psychological, Social, and Biological Foundations of Behavior</option>
						</select>
						<br />
						<!-- Question IDs to build the quiz -->
						<span>Enter question IDs in the order you want them to appear in the quiz. Note, please don't add more than 10 questions.</span>
						<br />
						<textarea rows="10" cols="40" name="data-questions"></textarea>
						<button class="btn btn-lg save-button">Save</button>
					<!--</form>-->
					{{#if saved}}<h2>SAVED!</h2>{{/if}}
					{{#if error}}<h2>Error: {{error}}</h2>{{/if}}
				</div>
			</div>

			<!-- Show all of the daily quizzes -->
			{{#each this}}
				{{> adminDailyQuiz_ViewQuiz}}
			{{/each}}
		</div>
	</div>
</template>

<template name="adminDailyQuiz_ViewQuiz">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			Start Date: 
		</div>
		<div class="col-xs-12 col-md-4">
			Questions:  
		</div>
		<div class="col-xs-12 col-md-4">
			<!-- Future, active, or passed -->
			Status: 
		</div>
	</div>
</template>