<!-- The home page served to the "/" route -->
<template name="appHome">
	<!-- The page header -->
	{{appHeader}}

	<!-- The body of the homepage -->
	<div id="container" class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Welcome Message!</h1>
				<sub>Words below that message</sub>
				<p>
					Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore. Test words please ignore.
				</p>
			</div>
		</div>
	</div> <!-- /#container -->
</template>