<!-- The home page served to the "/" route -->
<template name="appHome">
	<div class="full-page appHome">
		<!-- Header Section -->
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h1> HELLO </h1>
					</div>
				</div>
			</div>
		</div>

		<!-- Play Now Section -->
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h1> HELLO </h1>
					</div>
				</div>
			</div>
		</div>

		<!-- Data Analytics and Live Stats Section -->
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h1> HELLO </h1>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<!--{{> appFooter}}-->
		<!--
		<footer class="section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h1> HELLO </h1>
					</div>
				</div>
			</div>
		</footer>
		-->
		
	</div><!-- /.appHome -->
</template>