<!-- The home page served to the "/" route -->
<template name="appHome">
	<div class="full-page appHome">
		<!-- Header Section -->
		<div class="section slate-background fill-height">
			<div class="container fill-height">
				<div class="row fill-height">
					<!-- Homepage tagline -->
					<div class="col-xs-6 text-center fill-height">
						<h1>Play to Study</h1>
						<h3>Play to Win</h3>
					</div>

					<!-- Homepage video -->
					<div class="col-xs-6 hidden-xs homepage-screencast fill-height">
						<div class="vertical-center">
							<img src="/img/macbook-pro-retina.png" />
							<!--
							<video src="/vid/home-screencast.webm">
							</video>
							-->
						</div>
					</div>
				</div>
			</div>

			<!-- Next Section Icon / Button-->
			<div class="next-section-button">
				<i class="glyphicon glyphicon-menu-down"></i>
			</div>
		</div>

		<!-- Play Now Section -->
		<div class="section red">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h1> HELLO </h1>
					</div>
				</div>
			</div>
		</div>

		<!-- Data Analytics and Live Stats Section -->
		<div class="section blue">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h1> HELLO </h1>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<!--{{> appFooter}}-->
		<!--
		<footer class="section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h1> HELLO </h1>
					</div>
				</div>
			</div>
		</footer>
		-->
		
	</div><!-- /.appHome -->
</template>