<!-- The page served to the "/quiz/:_id" route -->
<template name="takeQuiz">
	<!-- Full page container -->
	<div class="full-page takeQuiz blue-background">
		{{#if questions}}
		<!-- Show the progress and a timer -->
		<div class="progress-container text-center">
			<div>
				Time remaining: {{minutesRemaining}}:{{secondsRemaining}}
			</div>
		</div>
		<!-- Show the questions -->
		<div class="quiz-question-container text-center">
			<p>
				{{#each questions}}
					{{> questionTemplate}}
					<br />
				{{/each}}
			</p>
		</div>
		{{else}}
		<!-- If there are no questions, show an error -->
		<div class="space-20-percent text-center">
			<h1>Sorry, there was an error loading this quiz</h1>
			<h3>
				<!-- Offer a way back -->
				<button id="new-quiz-button" class="btn btn-lg sign-in-button">
						Make a new quiz
				</button>
			</h3>
		</div>
		{{/if}}

		<div class="text-center">
		<h3> Debug Info </h3>
			<p>
				p1_id: {{p1_id}}
				<br />
				{{#if serverError}}
					Error: {{serverError}}
					<br />
				{{/if}}

				That's all!
			</p>
		</div>
	</div>
</template>

<!-- The question template -->
<template name="questionTemplate">
	<!-- Use the result to style this template -->
	<div class="question-container {{result}}">
		<span class="question-text">
			{{question}}
		</span>

		<ul class="list-inline list-group question-answers">
			<li class="list-group-item" data-answer="a">
				<span>A</span> {{a}}
			</li>
			<li class="list-group-item" data-answer="b">
				<span>B</span> {{b}}
			</li>
			<li class="list-group-item" data-answer="c">
				<span>C</span> {{c}}
				</li>
			<li class="list-group-item" data-answer="d">
				<span>D</span> {{d}}
			</li>
		</ul>
	</div>
</template>