// Apply these styles only to the app homescreen
.appHome {
	color: #fff;

	.blue {
		background-color: #0D4966;
	}
	.red {
		background-color: #D74656;
	}
	.yellow {
		background-color: #A6A117;
	}
	.blue2 {
		background-color: #33A2D9;
	}
	.green {
		background-color: #8C8819;
	}
	.purple {
		background-color: #5C6BC0;
	}

	.tagline-text {
		h1 {
			font-weight: bold;
			line-height: 1.25;
			letter-spacing: 2px;
		}

		p {	
			font-size: 24px;
			font-weight: 100;
			line-height: 1.25;
		}
	}

	.homepage-screencast {
		img {
			position: relative;
			width: 100%;
		}

		video {
			position: absolute;
			z-index: 10;
			top: 19%;
			left: 21.5%;

			width: 57.75%;
		}
	}
}

// Possibly make these global common styles
.section {
	// Mostly defined elsewhere	
	position: relative;
}

.fill-height {
	height: 100%;
}

// Will center an element vertically within its parent
.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.next-section-button {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	display: inline-block;
	height: 14em;
	width: 14em;

	cursor: pointer;

	// Offset bottom margin for the padding at the bottom of the section
	margin: 0 auto;
	padding: 1em 1em 0;
	text-align: center;

	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	// Hide the bottom half of the element
	transform: translateY(50%);

	background-color: rgba(200, 200, 200, 0.7);

	transition: background-color 0.4s, transform 0.4s;

	&:hover {
		background-color: rgba(220, 220, 220, 0.8);
		transform: translateY(40%);

		i {
			margin-top: 20%;
		}
	}

	// For the contained icon, whatever it may be
	i {
		font-size: 3em;
		margin-top: 15%;
		transition: margin-top 0.4s;
	}
}
