@main-color: white;

// Options: #A3F9D8;//#CDEDE0;

/* 
 * TODO: THIS AFFECTS ALL PAGES' BODY
 * FIX THAT
 */
body { 
  background-color: @main-color;
  /* 434F64 Slate */
  /* Blue 0EACAC */
  font-family: 'Open Sans', sans-serif;
}

.top {
  margin: 50px auto 50px;
}

.quiz-results {
  color: white;
  background: url(https://exchange.coinbase.com/img/product_bg.jpg);
  width: 100%;
  padding-bottom: 20px;

  button {
    margin: 0.5em;
    padding: 0.75em 0.5em;
    background-color: transparent;
    border: 1px solid white;
    width: 8em;
  }

  button:hover {
    color: white;
    background-color: rgba(10, 75, 180, 0.55);
    border: 1px solid rgba(10, 90, 180, 0.55);
    transition: background-color 0.5s, border 0.5s;
  }

}

.section {
  padding: 3em 0;
}

.top-shadow {
  box-shadow: 0px -5px 15px -5px rgba(0,0,0,0.8);
}


.number-bubble {
  text-align: center;
  margin-bottom: 1em;

  /* 
   * In order to border just the number, we need a child element.
   * A span is as good as any I guess
   */
  span {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 25px;
  }
}

.question {
  /* Have a bottom margin to space out the rows of questions */
  margin: 0 auto 2em;
  padding: 1em;
  border-radius: 2px;
  width: 85%;
  vertical-align: bottom;

  .answers {
    margin-top: 1em;
    margin-left: 2em;

    .letter {
      margin-right: 0.5em;
    }

    /* 
     * Markdown wraps each answer in a <p> tag
     * But we want the letter to align to the left of the answer's text
     */
    p {
      display: inline;
    }
  }

  .explanation {
    /*border-top: 1px solid rgba(15, 10, 25, 0.15);*/
    margin-top: 1em;
    padding-top: 0.5em;
    width: 80%;
  }
}