
@correct-color: rgb(126, 221, 29);
@wrong-color: rgb(244, 91, 83);

.quiz-question-container {
	/* Todo: make this mobile friendly with the navbar */
	margin: 5% auto;
	max-width: 60%;
	color: black;
	/* background-color: white; */

}

.question-container {
	background-color: white;

	margin: 20px auto;
	padding: 25px;

	min-height: 10%;

	border-radius: 10px;
}

/* Classes to set the background color when an answer is submitted */
.wrong {
	background-color: @wrong-color;
	transition: background-color 0.4s;

	.list-group-item {
		background-color: @wrong-color;
		transition: background-color 0.4s;
	}
}

.correct {
	background-color: @correct-color;
	transition: background-color 0.4s;

	.list-group-item {
		background-color: @correct-color;
		transition: background-color 0.4s;
	}
}

.question-text {
	font-size: 18px;
	font-weight: 600;
}

.question-answers {
	li {
		span {
			display: block;
			color: #882200;
		}
	}

	.list-group-item {
		border: none;
		border-radius: 4px;
		margin: 2px;

		/* 50% would overflow everything on to individual lines 
		   so we keep 49% so we get 2 boxes per line */
		width: 49%;
	}
	.list-group-item:hover {
		background-color: rgb(54, 186, 255);
	}

	/* So we override the .wrong .list-group-item */
	.list-group-item.correct {
		background-color: @correct-color;
		transition-delay: 0.8s;
	}

	margin: 0 auto;
	width: 80%;

}