
@correct-color: rgb(126, 221, 29);
@wrong-color: rgb(244, 91, 83);

.takeQuiz {
	overflow-x: hidden;
}

.quiz-questions-container {
	/* Todo: make this mobile friendly with the navbar */
	margin: 20px auto;
	/*max-width: 80%;*/
	color: black;
	/* background-color: white; */

	/* So we can animate the divs in and out */
	position: relative;

}

.question-container {
	/* Position absolutely inside the .quiz-questions.container */
	/*
	position: absolute;
	top: 0;
	left: auto;
	bottom: auto;
	right: auto;
	*/
	color: black;
	background-color: white;

	margin: 20px auto;
	padding: 25px;

	min-height: 10%;

	border-radius: 10px;

	-webkit-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
}

.quiz-questions-row-container {
	/* TODO: Make this work with an arbitrary number of questions
	 * 100% per question, and then each question gets a col container with 
	 * 100%/600% width
	 */

	width: 600%;
}

.quiz-questions-col-container {
	width: 16.666666%;
	float: left;
}

.quiz-horizontal-scroll {
	position: relative;
	right: 0%;
	left: auto;

	transition: right 0.4s;
}

/* Classes to set the background color when an answer is submitted */
.wrong {
	background-color: @wrong-color;
	transition: background-color 0.4s;

	.list-group-item {
		background-color: @wrong-color;
		transition: background-color 0.4s;
	}
}

.correct {
	background-color: @correct-color;
	transition: background-color 0.4s;

	.list-group-item {
		background-color: @correct-color;
		transition: background-color 0.4s;
	}
}

.question-text {
	font-size: 18px;
	font-weight: 600;
}

.question-answers {
	li {
		span {
			display: block;
			color: #882200;
		}
	}

	.list-group-item {
		border: none;
		border-radius: 4px;
		/*margin: 2px;*/

		/* 50% would overflow everything on to individual lines 
		   so we keep 49% so we get 2 boxes per line */
		/*width: 49%;*/
	}
	.list-group-item:hover {
		background-color: rgb(54, 186, 255);
	}

	/* So we override the .wrong .list-group-item */
	.list-group-item.correct {
		background-color: @correct-color;
		transition-delay: 0.8s;
	}

	margin: 0 auto;
	width: 80%;
}

.progress-container {
	margin: 70px auto 0;
}

.error-container {
	margin: 70px auto 20px;
}

.time-remaining {
	font-size: 18px;
}

.quiz-progress-bubbles {

	span {
		color: white;
	
		display: inline-block;
		width: 25px;
		height: 25px;
		line-height: 25px;
		vertical-align: middle;
		/* Just use something large enough to make a full circle */
		border-radius: 100px;
	
		border: 1px solid white;
	
		transition: background-color 0.4s;
	}

	.answered {
		color: #000;
		border: 1px solid #000;
		background-color: white;
	}

	.correct {
		color: @correct-color;
		background-color: @correct-color;
		border-width: 0px;
	}

	.wrong {
		color: @wrong-color;
		background-color: @wrong-color;
		border-width: 0px;
	}
}
